<mat-toolbar class="d-none d-sm-flex justify-content-between" color="primary">
    <div class="d-flex align-items-center">
        <div>
            <img height="50px" class="logo" src="/assets/images/logo.png">
        </div>
        <div class="ms-3">
            <button class="headerBtn me-3" routerLink="/" mat-button>Tela inicial</button>
            <button class="headerBtn me-3" routerLink="/empresa" mat-button>Configuração de fornecedores</button>
            <button class="headerBtn me-3" routerLink="/agendamento" mat-button>Agendar recebimento</button>
        </div>
    </div>
    <div>
        <img height="50px" class="logo" src="/assets/images/logo.png">        
    </div>
</mat-toolbar>

<router-outlet></router-outlet>