<nav class="nav navbar-expand-lg py-lg-3 navbar-dark">
    <div class="container-fluid col-12">
        <ul class="navbar-nav nav-pills nav-fill me-auto align-items-center">
            <a href="" class="navbar-brand me-5"><img src="/assets/images/logo.png" alt="logo da empresa" class="logo-dark"></a>
            <li class="nav-item 1"><a href="" class=".text-primary">Home</a></li>
            <li class="nav-item 1"><a href="/empresa" class=".text-primary">Configuração de fornecedores</a></li>
            <li class="nav-item 1"><a href="/agendamento" class=".text-primary">Agendar recebimento</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>